<ion-view view-title="密码修改" id="change-password">
    <ion-nav-bar class="bar-assertive">
        <div class="bar bar-header">
            <h1 class="title"></h1>
        </div>
    </ion-nav-bar>
    <ion-content>
      <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
          <div class="weui_cell_hd"><label class="weui_label">旧密码</label></div>
          <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="password"  placeholder="请输入旧密码" />

          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd"><label class="weui_label">新密码</label></div>
          <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="password"  ng-minlength=6 placeholder="请输入新密码"/>
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd"><label class="weui_label">确认密码</label></div>
          <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="password"  ng-minlength=6 placeholder="请再次输入新密码"/>
          </div>
        </div>
      </div>
      <div class="wide-line"></div>
      <button class="weui_btn weui_btn_primary">确认修改</button>

    </ion-content>
</ion-view>
