<ion-view view-title="" id="login">
    <ion-nav-bar class="bar-grey">
    </ion-nav-bar>
    <ion-content>
      <!--logo标志-->
      <div class="logo">
        <img src="img/logo.png" alt="logo"/>
      </div>

      <!--用户名、密码输入框-->
      <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
          <div class="weui_cell_hd"><label class="weui_label">用户名</label></div>
          <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text"  placeholder="请输入用户名"/>
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd"><label class="weui_label">密码</label></div>
          <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="password"  placeholder="请输入密码"/>
          </div>
        </div>
        </div>
      <div class="pull-right">忘记密码</div>
      <div style="height: 3.5em;"></div>
      <a ui-sref="tab.home" class="weui_btn weui_btn_primary">登录</a>



    </ion-content>
</ion-view>
