<ion-view view-title="个人信息" id="my-information">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-buttons side="left">
      <button class="button button-clear ion-chevron-left" ui-sref="tab.account" style="font-size: 20px"></button>
    </ion-nav-buttons>
    <div class="bar bar-header">
      <h1 class="title"></h1>
    </div>
  </ion-nav-bar>
  <ion-content>
    <!--个人信息展示列表-->
    <div class="weui_cells_title">我的个人信息</div>
    <div class="weui_cells">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <p>名称：bin</p>
        </div>
      </div>

      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <p>资质：A级</p>
        </div>
      </div>

      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <p>区域：高新区</p>
        </div>
      </div>

      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <p>联系电话：151******15</p>
        </div>
      </div>

      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <p>详细地址：成都市高新区天府二街</p>
        </div>
      </div>

    </div>


  </ion-content>
</ion-view>
