<ion-view view-title="我的返利" id="my-rebate">
    <ion-nav-bar class="bar-assertive">
      <ion-nav-buttons side="left">
        <button class="button button-clear ion-chevron-left" ui-sref="tab.account" style="font-size: 20px"></button>
      </ion-nav-buttons>
        <div class="bar bar-header">
            <h1 class="title"></h1>
        </div>
    </ion-nav-bar>
    <ion-content>
      <!--月份选择栏-->
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            选择月份
          </div>
          <select>
            <option value="一月" selected>一月</option>
            <option value="二月">二月</option>
            <option value="三月">三月</option>
            <option value="四月">四月</option>
            <option value="五月">五月</option>
            <option value="六月">六月</option>
            <option value="七月">七月</option>
            <option value="八月">八月</option>
            <option value="九月">九月</option>
            <option value="十月">十月</option>
            <option value="十一月">十一月</option>
            <option value="十二月">十二月</option>
          </select>
        </label>
      </div>

      <div class="portrait">
        <img src="img/account/portrait.png" alt=""/>
      </div>
      <div class="text-center">
      <span>收到
        <span>0</span>
        条返利，共
        <span>0</span>
        元</span>
      </div>




    </ion-content>
</ion-view>
