<ion-view view-title="公告" id="notice">
    <ion-nav-bar class="bar-assertive">
      <ion-nav-buttons side="left">
        <button class="button button-clear ion-chevron-left" ui-sref="tab.notice" style="font-size: 20px"></button>
      </ion-nav-buttons>
        <div class="bar bar-header">
            <h1 class="title"></h1>
        </div>
    </ion-nav-bar>
    <ion-content>
      <!--导航栏-->
      <div class="tabs-striped tabs-top label-top">
        <div class="tabs">
          <a class="tab-item" ui-sref="tab.notice">
            总代理公告
          </a>
          <a class="tab-item active" href="#">
            企业公告
          </a>
        </div>
      </div>

    </ion-content>
</ion-view>
