<ion-view view-title="公告详情" id="notice-detail">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-chevron-left" ui-sref="tab.notice" style="font-size: 20px"></button>
        </ion-nav-buttons>
        <div class="bar bar-header">
            <h1 class="title"></h1>
        </div>
    </ion-nav-bar>
    <ion-content>
      <article class="weui_article">
        <h1>{{data.get('title')}}</h1>
        <section>
          <h2 class="title">{{data.get('author')}}
             {{data.getCreatedAt() | date: 'yyyy-MM-dd HH:mm'}}
          </h2>
          <section>
            <!--<h3>1.1 节标题</h3>-->
            <p>{{data.get('content')}}</p>
          </section>
          <!--<section>-->
            <!--<h3>1.2 节标题</h3>-->

            <!--<p>助您获取最佳行业解决方案。-->
              <!--提供安全、可靠、高质量、易扩展的行业解决方案;-->
              <!--帮助客户实现信息化管理最佳实践，以满足客户需求，创造客户和社会的价值。</p>-->
          <!--</section>-->
        </section>
      </article>

    </ion-content>
</ion-view>
