<ion-view view-title="返利规则" id="">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-buttons side="left">
      <button class="button button-clear ion-chevron-left" ui-sref="tab.home" style="font-size: 20px"></button>
    </ion-nav-buttons>
    <div class="bar bar-header">
      <h1 class="title"></h1>
    </div>
  </ion-nav-bar>
  <ion-content>
    <article class="weui_article">
      <h1>大标题</h1>
      <section>
        <h2 class="title">章标题</h2>
        <section>
          <h3>1.1 节标题</h3>

          <p>公司致力于通过以业务流程优化（BPR）为核心的管理咨询、ERP应用为基础的企业级信息系统实施，帮助企业引进和创造本行业最佳实践（Industry Best Practices）；
            帮助中国企业在与国际接轨的同时，赶超国际先进经营管理水平，建设成为成功的、有持久生命力的国际化企业。</p>
        </section>
        <section>
          <h3>1.2 节标题</h3>

          <p>助您获取最佳行业解决方案。
            提供安全、可靠、高质量、易扩展的行业解决方案;
            帮助客户实现信息化管理最佳实践，以满足客户需求，创造客户和社会的价值。</p>
        </section>
      </section>
    </article>


  </ion-content>
</ion-view>
