<ion-view view-title="主页" id="home">
  <ion-nav-bar class="bar-assertive">
    <div class="bar bar-header">
      <h1 class="title">主页2</h1>
    </div>
  </ion-nav-bar>
  <ion-content>
      <!--首页轮播图片-->
      <ion-slide-box>
        <ion-slide>
          <div class="box">
            <img src="img/home/banner_1.png" width="100%" ui-sref="#"/>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box">
            <img src="img/home/banner_2.png" width="100%" ui-sref="#"/>
          </div>
        </ion-slide>
      </ion-slide-box>
    <div class="wide-line"></div>
      <!--功能菜单-->
      <div class="row">
        <div class="col col-50" ng-click="toast()">
          <img src="img/home/scan.png" alt="扫码"/>
          <div>
          <span>扫码</span>
          </div>
        </div>
        <div class="col col-50" ui-sref="order">
          <img src="img/home/order.png" alt="下单"/>
          <div>
          <span>下单</span>
        </div>
          </div>
      </div>

    <div class="row">
      <div class="col col-50" ng-click="toast()">
        <img src="img/home/report.png" alt="库存查询"/>
        <div>
          <span>库存查询</span>
        </div>
      </div>
      <div class="col col-50" ui-sref="rebate-rule">
        <img src="img/home/rebate.png" alt="返利查询"/>
        <div>
          <span>返利规则</span>
        </div>
      </div>
    </div>

    <div id="toast" ng-if="toastStatus">
      <div class="weui_mask_transparent"></div>
      <div class="weui_toast">
        <p class="weui_toast_content">敬请期待</p>
      </div>
    </div>

  </ion-content>
</ion-view>
