<ion-view view-title="公告" id="notice">
  <ion-nav-bar class="bar-assertive">
    <div class="bar bar-header">
      <h1 class="title">公告</h1>
    </div>
  </ion-nav-bar>
  <ion-content>
    <!--导航栏-->
    <div class="tabs-top label-top">
      <div class="tabs">
        <a class="tab-item active" href="#">
          总代理公告
        </a>
        <a class="tab-item" ui-sref="notice-company">
          企业公告
        </a>
      </div>
    </div>
    <div class="wide-line"></div>

    <div class="weui_panel_bd">
      <div class="weui_media_box weui_media_text">
        <h4 class="weui_media_title">标题一</h4>
        <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
      </div>
    </div>


  </ion-content>
</ion-view>
