<ion-view view-title="公告" id="notice">
  <ion-nav-bar class="bar-assertive">
    <div class="bar bar-header">
      <h1 class="title">公告</h1>
    </div>
  </ion-nav-bar>
  <ion-content>
    <!--导航栏-->
    <div class="tabs-top label-top">
      <div class="tabs">
        <a class="tab-item" ng-click="selectCat(1)" ng-class="{'active':category==1}">
          总代理公告
        </a>
        <a class="tab-item" ng-click="selectCat(2)" ng-class="{'active':category==2}">
          企业公告
        </a>
      </div>
    </div>
    <div class="wide-line"></div>
    <div class="weui_panel_bd" ng-if="category==1" ng-repeat="item in items">
      <div class="weui_media_box weui_media_text"  ui-sref="notice-detail({id:item.getObjectId()})">
        <h4 class="weui_media_title">{{item.get('title')}}</h4>
        <p class="weui_media_desc">{{item.get('content')}}</p>
      </div>
    </div>

    <div class="weui_panel_bd" ng-if="category==2" ng-repeat="item in data">
      <div class="weui_media_box weui_media_text"  ui-sref="notice-detail({id:item.getObjectId()})">
        <h4 class="weui_media_title">{{item.get('title')}}</h4>
        <p class="weui_media_desc">{{item.get('content')}}</p>
      </div>
    </div>



  </ion-content>
</ion-view>
